:root {
    --primary-color: #6CACE4;
    --secondary-color: #f9f9f9;
    --text-color: #333333;
    --header-text-color: #ffffff;
    --font-family: 'Open Sans', sans-serif;
    --heading-font-family: 'Open Sans', cursive;
    --line-height: 1.6;
    --header-font-size: 36px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: var(--line-height);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--header-text-color);
    padding: 20px;
    margin: 0 0 20px 0;
}